.nav-wrapper {
  text-align: center;
  margin: 30px 0;
  .nav-link {
    color: #000000;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 900;
    &:hover{color: #CC3333;}
    &.active{color: #CC3333;}
  }
}