body{background: url("../img/background-main.png") no-repeat center/cover fixed;font-family: "Verdana",Courier;}
.container{width: 1200px;margin: 0 auto;}
.clearfix::after{content: "";display: block;clear: both;}

/*Icons positon,hover and others*/
.ic_calendar-hover, .ic_journey-hover, .ic_forum-hover, .ic_journey, .ic_forum, .ic_calendar, .ic_google, .ic_facebook{
    background: url("../img/sprites.png") no-repeat;margin-right: 30px;display: inline-block;
}
.ic_journey{       background-position: -115px -60px ;width: 20px;height: 20px;}
.ic_journey:hover{ background-position: -113px -15px ;width: 20px;height: 20px;}
.ic_forum{         background-position: -60px -61px ;width: 28px;height: 20px;}
.ic_forum:hover{   background-position: -61px -16px ;width: 28px;height: 20px;}
.ic_calendar{      background-position: -15px -64px ;width: 19px;height: 19px;}
.ic_calendar:hover{background-position: -14px -16px ;width: 19px;height: 19px;}
.ic_google{        background-position: -162px -17px ;width: 25px;height: 16px;margin: 0 0 0 6px;}
.ic_facebook{      background-position: -167px -64px ;width: 10px;height: 20px;margin: 0 0 0 10px;}
.btn-blue{background-color: #305DB8;}
.btn-blue:hover{background-color: #264B96;}
.btn-red{background-color: #DF4A32;}
.btn-red:hover{background-color: #C3412C;}

/*Header start */
#header{background-color: rgba(0,0,0,0.4);padding-bottom: 20px;padding-top: 20px;}
.logo-wrapper{float: left;}
.logo-link{color: #ffffff;font-size: 20px;font-weight: 700;text-transform: uppercase;}
.logo-link:hover{
    color: #3CB878;-webkit-transition: 0.3s color ;-moz-transition: 0.3s color ;-ms-transition: 0.3s color ;-o-transition: 0.3s color ;transition: 0.3s color ;
}
.right-nav{display: flex;align-items: center;float: right;}
.header-nav-text{display: inline-block;color: #ffffff;font-size: 14px;}
.header-nav-text:before{content: '';border: 1px solid transparent;border-left-color: rgba(0,0,0,0.2);margin-right: 22px;}
.green-text{color: #3CB878;}
.green-text:hover{text-decoration: underline;}

/*Main content*/
.main-content{display: flex;justify-content: center;align-items: center;min-height: 600px;height: 100vh;}
.form-wrapper{width: 445px;box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);background-color: #fff;
    position: relative;padding: 30px 60px;box-sizing: border-box;border-radius: 10px;}
.form-wrapper:before{position: absolute;border: 9px solid #3CB878;left: 0;top: 30px;content: '';}
.form-top{ display: flex;justify-content: space-between;align-items: center;}
.text-singup{color:#434343;font-size: 20px;font-weight: 500;text-transform: capitalize;}
.text-login{color: #3CB878;font-size: 14px;font-weight: 500;text-transform: capitalize;}
.text-login:hover{text-decoration: underline;}
.btn-wrapper{display: flex;justify-content: space-between;margin-top: 15px;}
.social-btn{display: flex;align-items: center; height: 44px;width: 49%;margin-right: 0;cursor: pointer; border: none;
border-radius: 3px;-webkit-transition: background-color 0.1s ;-moz-transition: background-color 0.1s;-o-transition: background-color 0.1s;transition: background-color 0.1s; }
.social-link{color: #ffffff;    font-size: 16px;}
.social-link:before{content: '';border: 1px solid transparent;border-left-color: rgba(0,0,0,0.2);margin: 0 18px;}
.half-divider{position: relative;text-align: center;color: #434343;font-size: 14px;margin: 30px 0 15px 0; }
.or:after{content: '';display: inline-block;width:42%;position: absolute;border-bottom: 1px solid rgba(0,0,0,0.1);
    top:55%;right: 0;}
.or:before{content: '';display: inline-block;width:42%;position: absolute;border-bottom: 1px solid rgba(0,0,0,0.1);
    top:55%;left: 0;}

/*form*/
.form-control{height: 43px;width: 100%;border: 1px solid #EAEAEA;margin-bottom: 9px;padding-left: 18px;
    box-sizing: border-box;border-radius: 3px;outline: none;transition: all 0.3s;font-size: 14px;
}
.form-control::placeholder {color:  #bebebe;}
.form-control:hover {box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);}
.form-control:hover::placeholder{color: #434343;}
.form-control:focus{box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);}
.form-control:focus::placeholder{color: #434343;}

/*Green checkbox*/
.form-control-checkbox{
    margin: 11px 0 25px 0;}
.checkbox-text{color: #434343;font-size: 14px;cursor: pointer;}
.form-control-checkbox input { display: none;}
.form-control-checkbox label {position: relative;cursor: pointer;}
.form-control-checkbox label:before {
    content:'';display: inline-block;background-color: transparent;border: 1px solid #EAEAEA;
    padding: 10px;position: relative;vertical-align: middle;cursor: pointer;margin-right: 10px;border-radius: 3px;
}
.form-control-checkbox input:checked + label:after {
    content: '';display: block;position: absolute;width: 6px;height: 8px;top: 4px;left: 7px;
    border: solid #3CB878;border-width: 0 3px 3px 0;transform: rotate(45deg);
}

.btn-submit{width: 100%;font-size: 16px;padding: 12px 0;background-color: #3CB878;border: none;border-radius: 3px;
    color: #ffffff;-webkit-transition: background-color 0.1s ;-moz-transition: background-color 0.1s;-o-transition: background-color 0.1s;transition: background-color 0.1s;}
.btn-submit:hover{background-color: #329A65;cursor: pointer;}