body{font-family: "Montserrat",Courier;}
html{font-size: 10px;}/*I use rem weight base on html 10px (because I want to try responsible variant if I can do in deadline during)*/
a{text-decoration: none;}
.container{margin: 0 auto;width: 1140px;}
.text-green{color: #18cfab !important;}
.btn{color: #ffffff; font-size: 1.4rem;font-weight: 700;border-radius: 0.5rem;border: none;width: 165px; padding: 2rem 0;
box-shadow: 0 -0.4rem 0 0 #ffffff;cursor: pointer;}
.btn-green{background-color: #18cfab; }
.btn-blue{background-color: #00CBF6;}
.mr-15{margin-right: 1.5rem;}
.ml-15{margin-left: 1.5rem;}
.img-fluid{max-width: 100%;height: auto;}
/*Header Section*/
#section-header{background: url("../img/SectionsBackground/section-1-header.jpg") no-repeat center/cover fixed;
min-height: 100vh;}
.nav-wrapper{height: 12rem;display: flex;justify-content: space-between; align-items: center;}
#section-header nav{background-color: rgba(73,71,63,0.6);}
.menu-wrapper{display: flex;align-items: center;}
.menu-wrapper .menu-link{color: #ffffff;text-transform: uppercase;margin: 0 1rem;font-size: 1.3rem;color: #b8b8b8;font-weight: 700;
position: relative;overflow: hidden;}
.menu-wrapper .menu-link:hover{color: #18CFAB;overflow: visible;}
.menu-wrapper .menu-link::after{content: ' ';position: absolute;top: 6.6rem;left: 0; border-bottom: 0.2rem solid #18CFAB;width: 100%;}
.menu-wrapper .fas {font-size: 2.3rem;color: #b8b8b8;margin-left: 3.2rem;cursor: pointer;}

.logo-wrapper .logo{display: flex;align-items: center;}
.logo-wrapper .hexagon {position: relative;width: 6rem;height: 3.464rem;background-color: #18CFAB;display: inline-block;}
.logo-wrapper .hexagon:before,.hexagon:after {content: "";position: absolute;width: 0;border-left: 3rem solid transparent;
    border-right: 3rem solid transparent;}
.logo-wrapper .hexagon:before {bottom: 100%;border-bottom: 1.732rem solid #18CFAB;}
.logo-wrapper .hexagon:after {top: 100%;width: 0; border-top: 1.732rem solid #18CFAB;}
.logo-wrapper .h{position: absolute;top: 50%;left:50%;font-size: 4.4rem;transform: translate(-50%,-50%);font-weight: 700;
color: #ffffff;}
.logo-text{color: #ffffff;font-size: 3.2rem;font-weight: 400; display: inline-block;margin-left: 1rem;}
.logo-span{color: #18cfab;font-weight: 700;}
header{text-align: center;color: #ffffff;}
header h1{font-size: 7.9rem;font-weight: 700;}
header h2{font-size: 3.5rem;font-weight: 700;margin-top: 24.4rem;margin-bottom: 2rem;}
header h3{color: #D4D4D4;font-size: 3rem;font-weight: 300;margin-top: 2rem;}
.btn-wrapper {padding-bottom: 24.5rem;padding-top: 14rem;}
/*Section-info*/
#section-info{display: flex;flex-wrap:wrap;align-items: flex-start;}
.info-col{height: 20vw;width: 25%;box-sizing: border-box;text-align: center;position: relative;}
.info-col:nth-of-type(odd){background-color: #1C2A33;border-top: 0.8rem solid #18CFAB;}
.info-col:nth-of-type(even){background-color: #18CFAB;border-top: 0.8rem solid #ffffff;}
.info-col img{position: absolute;transform: translate(-50%,-50%);top: 40%;left: 50%;}
.info-col p{font-size: 1.8rem;font-weight: 700;color: #ffffff;padding-top: 14vw;text-transform: uppercase;}
/*Section-services*/
#services{text-align: center;}
.title{color: #4E4E4E;font-size: 3.6rem;font-weight: 400;margin-top: 8rem;margin-bottom: 11rem;position: relative;display: inline-block;}
.title::after,.title::before{content: ' ';position: absolute;width: 7.5rem;border-top: 0.1rem solid #18cfab;}
.title::after{top: 6.5rem;left: 30%;}
.title::before{top: 6.9rem;left: 40%;}
#services-tab{display: flex;justify-content: center;margin-bottom: 2.4rem;}
.services-tab-item{color: #717171;font-size: 16px;font-weight: 400; width: 100%;
    border: 1px solid #EBEBEB;padding: 2.9rem 0;cursor: pointer;}
.services-tab-item.active{background-color: #18cfab;color: #ffffff;border-color: #18cfab;position: relative;}
.services-tab-item.active::after{content: ' ';position: absolute;background-color: #18cfab;
width: 2rem;height: 2rem;transform: rotate(45deg);top: 6.5rem;left: 8.5rem; }
.tab-content-item{display: none;justify-content: space-between;}
.tab-content-item.active {display: flex;}
.tab-content-item img {width: 19.5rem;}
.tab-content-text{font-size: 1.3rem;line-height: 2;text-align: left;width: calc(100% - 21.5rem);}
#tab-content{margin-bottom: 11rem;}

/*Infosecond section*/
#infosecond{background: url("../img/SectionsBackground/section-2.jpg") fixed center/cover no-repeat;height: 460px;}
.infosecond-overlay{background-color: rgba(0,0,0,0.7);height: 100%;width: 100%;text-align: center;}
#infosecond .text-green{font-size: 40px;font-weight: 700;margin-bottom: 3rem;margin-top: 12rem;display: inline-block;width: 100%;}
#infosecond .text-light { color: #ffffff;font-weight: 400;display: inline-block;width: 100%;margin-bottom: 7.5rem;font-size: 1.6rem; }

/*our-work section*/
#our-work{text-align: center;}
#ourwork-tab{display: flex;justify-content: center;margin-bottom: 2.4rem;}
.ourwork-tab-item.active{box-shadow: 0 -0.2rem 0 0 #18cfab;color: #18cfab;}
.ourwork-tab-item:hover{box-shadow: 0 -0.2rem 0 0 #18cfab;color: #18cfab;}
.ourwork-tab-item{color: #717171;font-size: 14px;font-weight: 400;
    border: 1px solid #EBEBEB;padding: 2rem 3rem;cursor: pointer;}
.galery-wrapper{display: flex;flex-wrap: wrap;padding-bottom: 73px;padding-top: 50px;min-height: 340px;}
.img-wrapper{position: relative; }
.overlay-img{height: 100%;width: 100%;background-color: #F8FCFE;text-align: center;position: absolute;left: 0;top: 0;
border-top: 2px solid #18CFAB;cursor: pointer;display: flex;flex-direction: column;justify-content: space-evenly;
    opacity: 0; transition: opacity 0.3s ease-in;
}
.img-wrapper:hover .overlay-img{opacity: 1;}
.overlay-icon i{color: #18cfab;font-size: 14px;border: 1px solid #18cfab;padding: 13px;border-radius: 50%;
background-color: #F8FCFE;
}
.overlay-icon i:hover{color: #F8FCFE;background-color: #18cfab;}
.overlay-icon i.fa-link{margin-right: 2px;}
.overlay-icon i.fa-search{margin-left: 2px;}
.overlay-text .text1{color: #18cfab;font-size: 15px;font-weight: 700;}
.overlay-text .text2{color: #8A8A8A;font-size: 12px;font-weight: 300;margin-top: 13px;}

/*Load-more & Loader */
#loadmore{margin-bottom: 10rem;visibility: hidden;}
#loadmore.active{visibility: visible;}
.loader-wrapper{width: 100%;padding-top: 90px;padding-bottom: 400px;}
.lds-ring {  display: inline-block;  position: relative;  width: 80px;height: 80px;}
.lds-ring div {box-sizing: border-box;display: block;position: absolute;width: 64px;height: 64px;margin: 8px;border: 8px solid #fff;
    border-radius: 50%;animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;border-color: grey transparent transparent transparent;}
.lds-ring div:nth-child(1) {animation-delay: -0.45s;}
.lds-ring div:nth-child(2) {animation-delay: -0.3s;}
.lds-ring div:nth-child(3) {animation-delay: -0.15s;}
@keyframes lds-ring {0% {transform: rotate(0deg); }100% {transform: rotate(360deg);} }

/*Footer*/
footer{text-align: center;background-color: #22353F;}
footer p{font-size: 14px;color: #AEAEAE;padding: 42px 0;}

