body{font-family: MyriadPro-Regular,Courier;}
.container{width: 1280px;margin: 0 auto;}
.clearfix::after{content: "";display: block;clear: both;}
.logo-wrapper{margin: 62px 0;}
.logo-link{
    font-size: 66px;
    font-weight: 600;
    color: #000000;
    cursor: pointer;
}
.logo-smaller {
    font-weight: 600;
    color: #4BCAFF;
}
.header-nav{
    text-align: center;
    background-color: #35444F;
}
.header-nav-links{
    display: inline-block;
    color: #ffffff;
    font-size: 22px;
    padding: 25px 44px;
    -webkit-transition: border 0.3s,background-color 0.3s;-moz-transition: border 0.3s,background-color 0.3s;-ms-transition: border 0.3s,background-color 0.3s;-o-transition: border 0.3s,background-color 0.3s;transition: border 0.3s,background-color 0.3s;
    border-right: 1px solid #35444F;
    border-left: 1px solid #35444F;
}
.header-nav-links:hover{
    background-color: #222F3A;
    border-right: 1px solid #818181;
    border-left: 1px solid #818181;
}
.main{margin-top: 50px;
    margin-bottom: 20px;}
.sidebar{
    width: 330px;
    border: 1px solid #35444F;
    display: inline-block;
    float: left;
}
.sidebar-nav-item{
    padding: 29px 0;
    -webkit-transition: background-color 0.3s;-moz-transition: background-color 0.3s;-ms-transition: background-color 0.3s;-o-transition: background-color 0.3s;transition: background-color 0.3s;
}
.sidebar-nav-item:hover{
    background-color: #DBDBDB;
}
.sidebar-nav-item:hover .sidebar-nav-links{
    color: #000000;
    margin-left: 70px;
}
.sidebar-nav-links{
    color: #485863;
    margin-left: 44px;
    font-size: 20px;
    -webkit-transition: margin-left 0.3s,color 0.3s;-moz-transition: margin-left 0.3s,color 0.3s;-ms-transition: margin-left 0.3s,color 0.3s;-o-transition: margin-left 0.3s,color 0.3s;transition: margin-left 0.3s,color 0.3s;
}
.main-content{
    margin-left: 60px;
    width: 885px;
    display: inline-block;
    float: left;
    text-align: center;
}
.img-wrapper{
    display: inline-block;
    border: 1px solid #35444F;
    width: 100%;
    padding: 78px 0;
}
.main-content-img{
    max-width: 100%;
    height: auto;
    -webkit-transition: transform 0.5s ease-in-out;-moz-transition: transform 0.5s ease-in-out;-ms-transition: transform 0.5s ease-in-out;-o-transition: transform 0.5s ease-in-out;transition: transform 0.5s ease-in-out;
}
.main-content-img:hover{
    transform: scale(1.1);
}
.article-wrapper{
    text-align: left;
    margin-top: 50px;
    padding: 0 31px;
    line-height: 1.4;
}
.article{
    margin-bottom: 30px;
}
footer {
    display: inline-block;
    background-color: #B4B7BA;
    width: 100%;
    position: relative;
}
.footer-nav{
    display: inline-block;
    margin-left: 36px;
}
.footer-nav-links{
    display: inline-block;
    padding: 24px 12px;
    color: #0C1927;
    font-size: 20px;
    -webkit-transition: color 0.2s,text-decoration 0.3s;-moz-transition: color 0.2s,text-decoration 0.3s;-ms-transition: color 0.2s,text-decoration 0.3s;-o-transition: color 0.2s,text-decoration 0.3s;transition: color 0.2s,text-decoration 0.3s;
}
.footer-nav-links:hover{
    color: #3181A6;
    text-decoration: underline;
}
.footer-author{
    position: absolute;
    transform: translate(0,-50%);
    top: 50%;
    right: 34px;
    font-size: 19px;
    color: #010101;
}

