.product-card{background-color: #ffffff; box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
  margin-bottom: 10px;width: 231px;
}
.product-img-wrapper{position: relative;}
.img-overlay{position: absolute; top:10px;right: 10px;}
.img-overlay i{font-size: 20px;color: #fff;cursor: pointer;transition: color 0.3s;}
.img-overlay i:hover{color: #C72E2E;}
.img-overlay i.active{color: #C72E2E;}
.starts{padding: 5px 0 9px 0;}
.starts i{font-size: 13px;color: #C72E2E;}
.product-img-wrapper img{max-width: 100%;
  height: auto;}
.product-info-wrapper{padding: 14px;}

.head-text{font-size:16px;font-weight: bold;}
.info-text{font-size:13px;}
.footer-info{display: flex;justify-content: space-between;align-items: center; margin-top:10px; }
.footer-info .price{ font-size: 18px;font-weight: bold;}
.btn-add{font-size: 11px;background-color: #1E1E20;color: #ffffff;border: none;border-radius: 3px;padding: 6px 5px;
  text-transform: uppercase;cursor: pointer}
.btn-add:focus{outline: none;}
.btn-add:active{opacity: 0.8;}